<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        
  <div class="container1">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/banner.jpg" class="d-block w-100" alt="1">
              </div>
            </div>
          </div>
          
        </div>
    </div>




<section class="h_products">
    <div class="allheader text-center" id="homeproducts">
        <h1>Featured Products</h1>
      </div>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="/<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">Rp<%= product.price %></h2>
                        </div>
                        <div class="card__actions">
                                <a href="/products/<%= product._id %>" class="btnhome">Details</a>
                                <% if (isAuthenticated) { %>
                                    <%- include('../includes/add-to-cart.ejs', {product:product}) %>
                                    <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
</section>

<section class="h_newsletter">
            <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                    <p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals. We promise to send emails you will love.</p>
                <div class="input-group">
                     <input type="email" class="form-control" placeholder="Enter your email">
                     <span class="input-group-btn">
                     <button class="btn" type="submit">Subscribe Now</button>
                     </span>
                      </div>
                </div>
            </div>
            </div>
            </div>
        </section>

    </main>
<%- include('../includes/end.ejs') %>